# Time Series Data Analysis

In [2]:
# Import required libraries.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedShuffleSplit

In [3]:
# Reading data.
filepath = "../../../Data/future_sales/sales_train.csv"
stores_data = pd.read_csv(filepath, 
                          date_format="%d.%m.%Y",
                          parse_dates=["date"])

In [4]:
# Splitting data to avoid data snooping
split = StratifiedShuffleSplit(n_splits=1)
for train_index, test_index in split.split(stores_data, stores_data['shop_id']):
    stores_train_data = stores_data.loc[train_index,:]
    stores_test_data = stores_data.loc[test_index,:]

stores_train_data = stores_train_data.sort_values(by="date")
stores_test_data = stores_test_data.sort_values(by="date")

## Quick data exploration
- Want to know the columns and data types
- Basic statistics of the data

In [6]:
stores_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2642264 entries, 92624 to 2930887
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 141.1 MB

In [7]:
stores_train_data.head()

             date  date_block_num  shop_id  item_id  item_price  item_cnt_day
92624  2013-01-01               0       42    10526       149.0           1.0
18524  2013-01-01               0       28     2415       299.0           1.0
111960 2013-01-01               0       42     3323      1989.0           2.0
105843 2013-01-01               0       37     9601       849.0          -1.0
108544 2013-01-01               0       37    15538        58.0           1.0