In [25]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../../../Data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

../../../Data/agriculture\psd_coffee.csv
../../../Data/agriculture\psd_coffee.xls
../../../Data/archive\credits.csv
../../../Data/archive\imdb_movies.csv
../../../Data/archive\imdb_movies.xlsx
../../../Data/archive\keywords.csv
../../../Data/archive\links.csv
../../../Data/archive\links_small.csv
../../../Data/archive\movies_metadata.csv
../../../Data/archive\ratings.csv
../../../Data/archive\ratings_small.csv
../../../Data/digit-recognizer\sample_submission.csv
../../../Data/digit-recognizer\submission.csv
../../../Data/digit-recognizer\test.csv
../../../Data/digit-recognizer\train.csv
../../../Data/favorita-grocery-sales-forecasting\holidays_events.csv
../../../Data/favorita-grocery-sales-forecasting\items.csv
../../../Data/favorita-grocery-sales-forecasting\oil.csv
../../../Data/favorita-grocery-sales-forecasting\sample_submission.csv
../../../Data/favorita-grocery-sales-forecasting\stores.csv
../../../Data/favorita-grocery-sales-forecasting\test.csv
../../../Data/favorita-grocery-sales-forecasting\train.csv
../../../Data/favorita-grocery-sales-forecasting\transactions.csv
../../../Data/future_sales\items.csv
../../../Data/future_sales\item_categories.csv
../../../Data/future_sales\sales_train.csv
../../../Data/future_sales\sample_submission.csv
../../../Data/future_sales\shops.csv
../../../Data/future_sales\test.csv
../../../Data/housing\housing.csv
../../../Data/mnist\mnist_784.csv

In [27]:
import gc
import itertools
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

### Below are some utility functions that will be used throughout the notebook.

In [30]:
def reduce_mem_usage(df, silent=True, allow_categorical=True, float_dtype="float32"):
    """ 
    Iterates through all the columns of a dataframe and downcasts the data type
     to reduce memory usage. Can also factorize categorical columns to integer dtype.
    """
    def _downcast_numeric(series, allow_categorical=allow_categorical):
        """
        Downcast a numeric series into either the smallest possible int dtype or a specified float dtype.
        """
        if pd.api.types.is_sparse(series.dtype) is True:
            return series
        elif pd.api.types.is_numeric_dtype(series.dtype) is False:
            if pd.api.types.is_datetime64_any_dtype(series.dtype):
                return series
            else:
                if allow_categorical:
                    return series
                else:
                    codes, uniques = series.factorize()
                    series = pd.Series(data=codes, index=series.index)
                    series = _downcast_numeric(series)
                    return series
        else:
            series = pd.to_numeric(series, downcast="integer")
        if pd.api.types.is_float_dtype(series.dtype):
            series = series.astype(float_dtype)
        return series

    if silent is False:
        start_mem = np.sum(df.memory_usage()) / 1024 ** 2
        print("Memory usage of dataframe is {:.2f} MB".format(start_mem))
    if df.ndim == 1:
        df = _downcast_numeric(df)
    else:
        for col in df.columns:
            df.loc[:, col] = _downcast_numeric(df.loc[:,col])
    if silent is False:
        end_mem = np.sum(df.memory_usage()) / 1024 ** 2
        print("Memory usage after optimization is: {:.2f} MB".format(end_mem))
        print("Decreased by {:.1f}%".format(100 * (start_mem - end_mem) / start_mem))

    return df


def shrink_mem_new_cols(matrix, oldcols=None, allow_categorical=False):
    # Calls reduce_mem_usage on columns which have not yet been optimized
    if oldcols is not None:
        newcols = matrix.columns.difference(oldcols)
    else:
        newcols = matrix.columns
    matrix.loc[:,newcols] = reduce_mem_usage(matrix.loc[:,newcols], allow_categorical=allow_categorical)
    oldcols = matrix.columns  # This is used to track which columns have already been downcast
    return matrix, oldcols


def list_if_not(s, dtype=str):
    # Puts a variable in a list if it is not already a list
    if type(s) not in (dtype, list):
        raise TypeError
    if (s != "") & (type(s) is not list):
        s = [s]
    return s

### Load the required data.

In [32]:
path="../../../Data/future_sales/"
items = pd.read_csv(path+"items.csv")
shops = pd.read_csv(path+"shops.csv")
train = pd.read_csv(path+"sales_train.csv")
test = pd.read_csv(path+"test.csv")

In [55]:
print(f"{'_'*70}")
display(items.head())
display(items.shape)
print(f"{'_'*70}")
display(shops.head())
display(shops.shape)
print(f"{'_'*70}")
display(train.head())
display(train.shape)
print(f"{'_'*70}")
display(test.head())
display(test.shape)
print(f"{'_'*70}")

______________________________________________________________________

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

(22170, 3)

______________________________________________________________________

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

(60, 2)

______________________________________________________________________

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0
5 2013-01-10               0       25     2564      349.00           1.0

(2427354, 6)

______________________________________________________________________

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

(214200, 3)

______________________________________________________________________

### Convert date column to datetime to allow date operations.

In [37]:
train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y")

### Data Cleaning
- Minor data cleaning of the dataframe.

In [40]:
# Merge some duplicate shops
train["shop_id"] = train["shop_id"].replace({0: 57, 1: 58, 11: 10, 40: 39})
# Keep only shops that are in the test set
train = train.loc[train.shop_id.isin(test["shop_id"].unique()), :]
# Drop training items with extreme or negative prices or sales counts
train = train[(train["item_price"] > 0) & (train["item_price"] < 50000)]
train = train[(train["item_cnt_day"] > 0) & (train["item_cnt_day"] < 1000)]

### Preprocessing

In [43]:
train.shape

(2427354, 6)