# This Notebook explores the Titanic dataset and tries to predict if a passenger died.

In [2]:
# Load libraries for EDA.
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
# Load required data
path = "../../../Data/titanic/"
train = pd.read_csv(path + "train.csv")
test = pd.read_csv(path + "test.csv")
gender_submission = pd.read_csv(path + "gender_submission.csv")

Let's peek at the three datasets to see their features.

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The attributes have the following meaning:

- PassengerId: a unique identifier for each passenger
- Survived: that's the target, 0 means the passenger did not survive, while 1 means he/she survived.
- Pclass: passenger class.
- Name, Sex, Age: self-explanatory
- SibSp: how many siblings & spouses of the passenger aboard the Titanic.
- Parch: how many children & parents of the passenger aboard the Titanic.
- Ticket: ticket id
- Fare: price paid (in pounds)
- Cabin: passenger's cabin number
- Embarked: where the passenger embarked the Titanic

In [7]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [9]:
# Explicitly have passenger id as the identifier.
train.index = train["PassengerId"]
test.index = test["PassengerId"]

# Drop it from the dateset thereafter.
train.drop("PassengerId", axis=1, inplace=True)
test.drop("PassengerId", axis=1, inplace=True)

### Let's do some light Exploratory Data Analysis.

In [11]:
# Check data type and nulls.
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Ticket    418 non-null    object
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB

In [13]:
train["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [14]:
train["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [15]:
train["Age"].value_counts()

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [16]:
train["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

### Data Cleaning.

In [18]:
# Drop column with alot of missing values.
train.drop("Cabin", axis=1, inplace=True)
test.drop("Cabin", axis=1, inplace=True)

In [19]:
# Fill missing values.
mean_age_train = np.mean(train["Age"])
mode_embarked_train = train["Embarked"].mode()
mean_age_test = np.mean(test["Age"])
mean_fare_test = np.mean(test["Fare"])

train["Age"] = train["Age"].fillna(mean_age_train)
train["Embarked"] = train["Embarked"].fillna(mode_embarked_train[0])
test["Age"] = test["Age"].fillna(mean_age_test)
test["Fare"] = test["Fare"].fillna(mean_fare_test)

### Preprocessing

In [21]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [22]:
cat_attri = ["Sex", "Embarked"]
num_attri = ["Pclass", "Age", "SibSp", "Parch", "Fare"]

In [23]:
# Change categorical to numeric.
hot_encoder = OneHotEncoder()
train_cat_one_hot = hot_encoder.fit_transform(train[cat_attri])
test_cat_one_hot = hot_encoder.fit_transform(test[cat_attri])
train_cat_one_hot = train_cat_one_hot.toarray()
test_cat_one_hot = test_cat_one_hot.toarray()

In [24]:
num_train = train[num_attri]
num_test = test[num_attri]

In [25]:
X_train = np.c_[train_cat_one_hot, num_train]
y_train = train["Survived"].to_numpy()
X_test = np.c_[test_cat_one_hot, num_test]

In [26]:
print(X_train.shape)
print(X_test.shape)

(891, 10)
(418, 10)

In [27]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

### Build some ML models.

In [29]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier

In [30]:
knn_clf = KNeighborsClassifier()
sgd_clf = SGDClassifier()
rand_clf = RandomForestClassifier()

In [31]:
knn_clf.fit(X_train_scaled, y_train)
sgd_clf.fit(X_train_scaled, y_train)
rand_clf.fit(X_train_scaled, y_train)

RandomForestClassifier()

In [32]:
knn_pred = knn_clf.predict(X_test_scaled)
sgd_pred = sgd_clf.predict(X_test_scaled)
rand_pred = rand_clf.predict(X_test_scaled)

In [62]:
gender_submission["Survived"] = knn_pred
knn_gender_submission = gender_submission
gender_submission["Survived"] = sgd_pred
sgd_gender_submission = gender_submission
gender_submission["Survived"] = rand_pred
rand_gender_submission = gender_submission

In [64]:
knn_gender_submission.to_csv("knn_gender_submission.csv", index=False)
sgd_gender_submission.to_csv("sgd_gender_submission.csv", index=False)
rand_gender_submission.to_csv("rand_gender_submission.csv", index=False)