In [1]:
# import eda libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sales = pd.read_csv("../../../Data/future_sales/sales_train.csv",
                    usecols=['date', 'shop_id', 'item_id', 'item_price', 'item_cnt_day'], 
                    parse_dates=['date'], 
                    date_format="%d.%m.%Y")
sales = sales.sort_index()

In [17]:
piv = sales.pivot_table(columns=['item_id','shop_id','date'])

In [18]:
piv.T

                            item_cnt_day  item_price
item_id shop_id date
0       54      2014-09-01           1.0        58.0
1       55      2014-04-02           1.0      4490.0
                2014-04-04           1.0      4490.0
                2014-07-06           1.0      4490.0
                2014-08-04           1.0      4490.0
...                                  ...         ...
22168   12      2013-09-13           1.0       799.0
        16      2013-02-17           1.0       799.0
        42      2013-02-02           1.0       799.0
        43      2013-03-08           1.0       798.5
22169   25      2014-03-21           1.0      4349.0

[2935821 rows x 2 columns]

In [11]:
sales.loc[sales['item_id']==22168, :]

             date  shop_id  item_id  item_price  item_cnt_day
33548  2013-01-20        2    22168       799.0           1.0
58566  2013-01-15       12    22168       799.0           1.0
128375 2013-02-02       42    22168       799.0           1.0
142511 2013-02-17       16    22168       799.0           1.0
265107 2013-03-08       43    22168       798.5           1.0
885099 2013-09-13       12    22168       799.0           1.0

In [16]:
sales = sales.groupby(['shop_id', 'date']).sum()

In [ ]:
sales = sales.reset_index()
sales.index = sales['date']
sales.drop('date', inplace=True, axis=1)

In [ ]:
fig, ax = plt.subplots()
ax = sns.lineplot(x=sales.index, y='item_cnt_day', data=sales, marker='o', ax=ax)
ax.tick_params(axis='x', rotation=45)

In [ ]:
from statsmodels.tsa.deterministic import DeterministicProcess

dp = DeterministicProcess(
    index=sales.index,  # dates from the training data
    #constant=True,       # dummy feature for the bias (y_intercept)
    order=1,             # the time dummy (trend)
    drop=True,           # drop terms if necessary to avoid collinearity
)
# `in_sample` creates features for the dates given in the `index` argument
X = dp.in_sample()

X.head()

In [ ]:
sales.head()