In [1]:
# import eda libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sales = pd.read_csv("../../../Data/future_sales/sales_train.csv",
                    usecols=['date', 'shop_id', 'item_id', 'item_price', 'item_cnt_day'],
                    index_col='date', 
                    parse_dates=['date'], 
                    date_format="%d.%m.%Y")
sales = sales.sort_index()

In [9]:
sales.groupby(['shop_id', 'item_id','date']).sum()

                            item_price  item_cnt_day
shop_id item_id date
0       30      2013-02-15       265.0           2.0
                2013-02-16       265.0           9.0
                2013-02-17       265.0           4.0
                2013-02-18       265.0           4.0
                2013-02-20       265.0           2.0
...                                ...           ...
59      22164   2015-07-21       699.0           1.0
        22167   2013-10-25       299.0           1.0
                2013-12-03       299.0           1.0
                2013-12-14       299.0           1.0
                2014-06-14       299.0           1.0

[2935821 rows x 2 columns]