In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../../../Data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

../../../Data/agriculture\psd_coffee.csv
../../../Data/agriculture\psd_coffee.xls
../../../Data/archive\credits.csv
../../../Data/archive\imdb_movies.csv
../../../Data/archive\imdb_movies.xlsx
../../../Data/archive\keywords.csv
../../../Data/archive\links.csv
../../../Data/archive\links_small.csv
../../../Data/archive\movies_metadata.csv
../../../Data/archive\ratings.csv
../../../Data/archive\ratings_small.csv
../../../Data/digit-recognizer\sample_submission.csv
../../../Data/digit-recognizer\submission.csv
../../../Data/digit-recognizer\test.csv
../../../Data/digit-recognizer\train.csv
../../../Data/favorita-grocery-sales-forecasting\holidays_events.csv
../../../Data/favorita-grocery-sales-forecasting\items.csv
../../../Data/favorita-grocery-sales-forecasting\oil.csv
../../../Data/favorita-grocery-sales-forecasting\sample_submission.csv
../../../Data/favorita-grocery-sales-forecasting\stores.csv
../../../Data/favorita-grocery-sales-forecasting\test.csv
../../../Data/favorita-grocery-sales-forecasting\train.csv
../../../Data/favorita-grocery-sales-forecasting\transactions.csv
../../../Data/future_sales\items.csv
../../../Data/future_sales\item_categories.csv
../../../Data/future_sales\sales_train.csv
../../../Data/future_sales\sample_submission.csv
../../../Data/future_sales\shops.csv
../../../Data/future_sales\test.csv
../../../Data/housing\housing.csv
../../../Data/mnist\mnist_784.csv

In [2]:
# Allows viewing of entire column width of a dataframe 
pd.set_option("display.max_colwidth", None)

In [3]:
import gc
import itertools
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import re
from fuzzywuzzy import fuzz
from nltk.corpus import stopwords

C:\Users\Admin\anaconda3\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Below are some utility functions that will be used throughout the notebook.

In [5]:
def reduce_mem_usage(df, silent=True, allow_categorical=True, float_dtype="float32"):
    """ 
    Iterates through all the columns of a dataframe and downcasts the data type
     to reduce memory usage. Can also factorize categorical columns to integer dtype.
    """
    def _downcast_numeric(series, allow_categorical=allow_categorical):
        """
        Downcast a numeric series into either the smallest possible int dtype or a specified float dtype.
        """
        if pd.api.types.is_sparse(series.dtype) is True:
            return series
        elif pd.api.types.is_numeric_dtype(series.dtype) is False:
            if pd.api.types.is_datetime64_any_dtype(series.dtype):
                return series
            else:
                if allow_categorical:
                    return series
                else:
                    codes, uniques = series.factorize()
                    series = pd.Series(data=codes, index=series.index)
                    series = _downcast_numeric(series)
                    return series
        else:
            series = pd.to_numeric(series, downcast="integer")
        if pd.api.types.is_float_dtype(series.dtype):
            series = series.astype(float_dtype)
        return series

    if silent is False:
        start_mem = np.sum(df.memory_usage()) / 1024 ** 2
        print(f"Memory usage of dataframe is: {start_mem:.2f} MB")
    if df.ndim == 1:
        df = _downcast_numeric(df)
    else:
        for col in df.columns:
            df.loc[:, col] = _downcast_numeric(df.loc[:,col])
    if silent is False:
        end_mem = np.sum(df.memory_usage()) / 1024 ** 2
        print(f"Memory usage after optimization is: {end_mem:.2f} MB")
        print(f"Decreased by {(100 * (start_mem - end_mem) / start_mem):.1f}%")

    return df


def shrink_mem_new_cols(matrix, oldcols=None, allow_categorical=False):
    # Calls reduce_mem_usage on columns which have not yet been optimized
    if oldcols is not None:
        newcols = matrix.columns.difference(oldcols)
    else:
        newcols = matrix.columns
    matrix.loc[:,newcols] = reduce_mem_usage(matrix.loc[:,newcols], allow_categorical=allow_categorical)
    oldcols = matrix.columns  # This is used to track which columns have already been downcast
    return matrix, oldcols


def list_if_not(s, dtype=str):
    # Puts a variable in a list if it is not already a list
    if type(s) not in (dtype, list):
        raise TypeError
    if (s != "") & (type(s) is not list):
        s = [s]
    return s

### Load the required data.

In [7]:
path="../../../Data/future_sales/"
items = pd.read_csv(path+"items.csv")
shops = pd.read_csv(path+"shops.csv")
train = pd.read_csv(path+"sales_train.csv")
test = pd.read_csv(path+"test.csv")

In [8]:
print(f"{'_'*70}")
display(items.head())
display(items.shape)
print(f"{'_'*70}")
display(shops.head())
display(shops.shape)
print(f"{'_'*70}")
display(train.head())
display(train.shape)
print(f"{'_'*70}")
display(test.head())
display(test.shape)
print(f"{'_'*70}")

______________________________________________________________________

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,"!ABBYY FineReader 12 Professional Edition Full [PC, Цифровая версия]",1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

(22170, 3)

______________________________________________________________________

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

(60, 2)

______________________________________________________________________

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

(2935849, 6)

______________________________________________________________________

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

(214200, 3)

______________________________________________________________________

### Convert date column to datetime to allow date operations.

In [10]:
train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y")

### Data Cleaning
- Minor data cleaning of the dataframe.

In [12]:
# Merge some duplicate shops
train["shop_id"] = train["shop_id"].replace({0: 57, 1: 58, 11: 10, 40: 39})
# Keep only shops that are in the test set
train = train.loc[train.shop_id.isin(test["shop_id"].unique()), :]
# Drop training items with extreme or negative prices or sales counts
train = train[(train["item_price"] > 0) & (train["item_price"] < 50000)]
train = train[(train["item_cnt_day"] > 0) & (train["item_cnt_day"] < 1000)]

### Preprocessing

In [14]:
def create_testlike_train(sales_train, test=None):
    """
    This function attempts to convert train dataset to a format that resembles how test dataset 
    looks like i.e test dataset appears to be a cartesian product shops with every combination
    of item.
    """
    indexlist = []
    # This for loop does a cartesian product of every combination of shop and item each month
    for i in sales_train.date_block_num.unique():
        x = itertools.product(
            [i],
            sales_train.loc[sales_train.date_block_num == i].shop_id.unique(),
            sales_train.loc[sales_train.date_block_num == i].item_id.unique(),
        )
        indexlist.append(np.array(list(x)))
    df = pd.DataFrame(
        data=np.concatenate(indexlist, axis=0),
        columns=["date_block_num", "shop_id", "item_id"],
    )

    # Add revenue column to sales_train
    sales_train["item_revenue_day"] = sales_train["item_price"] * sales_train["item_cnt_day"]
    # Aggregate item_id / shop_id item_cnts and revenue at the month level
    sales_train_grouped = sales_train.groupby(["date_block_num", "shop_id", "item_id"]).agg(
        item_cnt_month=pd.NamedAgg(column="item_cnt_day", aggfunc="sum"),
        item_revenue_month=pd.NamedAgg(column="item_revenue_day", aggfunc="sum"),
    )

    # Merge the grouped data with the index
    df = df.merge(
        sales_train_grouped, how="left", on=["date_block_num", "shop_id", "item_id"],
    )

    if test is not None:
        test["date_block_num"] = 34
        test["date_block_num"] = test["date_block_num"].astype(np.int8)
        test["shop_id"] = test.shop_id.astype(np.int8)
        test["item_id"] = test.item_id.astype(np.int16)
        test = test.drop("ID",axis=1)
        
        df = pd.concat([df, test[["date_block_num", "shop_id", "item_id"]]])

    # Fill empty item_cnt entries with 0
    df.item_cnt_month = df.item_cnt_month.fillna(0)
    df.item_revenue_month = df.item_revenue_month.fillna(0)

    return df

In [15]:
matrix = create_testlike_train(train, test)
del(test)

In [16]:
matrix = reduce_mem_usage(matrix, silent=False)
oldcols = matrix.columns

Memory usage of dataframe is: 405.44 MB
Memory usage after optimization is: 405.44 MB
Decreased by 0.0%

# Feature Engineering
- Predictor columns are added to the matrix

### Item name groups with fuzzywuzzy
Items in the items table are ordered alphabetically according to the item_name field, so that similar items are generally listed next to each other. For example, the first two items in the table below are the same game "Fuse" for two different consoles, followed by two different licensing options for the same internet security program. This ordering can be used to help group related items together.

In [19]:
items.query("item_id>3564").head(5)

,item_name,item_id,item_category_id
3565,"Fuse [PS3, английская версия]",3565,19
3566,"Fuse [Xbox 360, английская версия]",3566,23
3567,"G Data Internet Security 2013 (1ПК / 1 год) (G DATA) [PC, Цифровая версия]",3567,76
3568,"G Data Internet Security 2013 (3ПК / 1 год) (G DATA) [PC, Цифровая версия]",3568,76
3569,GABIN The Best Of Gabin 2CD,3569,55

In [21]:
def add_item_name_groups(matrix, train, items, sim_thresh, feature_name="item_name_group"):
    def partialmatchgroups(items, sim_thresh=sim_thresh):
        def strip_brackets(string):
            string = re.sub(r"\(.*?\)", "", string)
            string = re.sub(r"\[.*?\]", "", string)
            return string

        items = items.copy()
        items["nc"] = items.item_name.apply(strip_brackets)
        items["ncnext"] = np.concatenate((items["nc"].to_numpy()[1:], np.array([""])))

        def partialcompare(s):
            return fuzz.partial_ratio(s["nc"], s["ncnext"])

        items["partialmatch"] = items.apply(partialcompare, axis=1)
        # Assign groups
        grp = 0
        prev_partialmatch = items.loc[0, "partialmatch"]
        items.loc[0, "partialmatchgroup"] = grp
        for i in range(1, items.shape[0]):
            current_partialmatch = items.loc[i, "partialmatch"]
            # Only two consecutive partial match exceeding threshhold retain same grouping.
            if (prev_partialmatch >= sim_thresh) and (current_partialmatch >= sim_thresh):
                items.loc[i, "partialmatchgroup"] = grp
            else:
                grp += 1
                items.loc[i, "partialmatchgroup"] = grp
            prev_partialmatch = current_partialmatch
        
        items = items.drop(columns=["nc", "ncnext", "partialmatch"])
        return items

    items = partialmatchgroups(items)
    items = items.rename(columns={"partialmatchgroup": feature_name})
    items = items.drop(columns="partialmatchgroup", errors="ignore")

    items[feature_name] = items[feature_name].apply(str)
    items[feature_name] = items[feature_name].factorize()[0]
    matrix = matrix.merge(items[["item_id", feature_name]], on="item_id", how="left")
    train = train.merge(items[["item_id", feature_name]], on="item_id", how="left")
    return matrix, train


matrix, train = add_item_name_groups(matrix, train, items, 65)

In [22]:
matrix.head(20)

,date_block_num,shop_id,item_id,item_cnt_month,item_revenue_month,item_name_group
0,0,59,22154,1.0,999.0,14038
1,0,59,2552,0.0,0.0,1546
2,0,59,2554,0.0,0.0,1548
3,0,59,2555,0.0,0.0,1549
4,0,59,2564,0.0,0.0,1556
5,0,59,2565,0.0,0.0,1557
6,0,59,2572,0.0,0.0,1562
7,0,59,2573,0.0,0.0,1563
8,0,59,2574,2.0,798.0,1563
9,0,59,2593,0.0,0.0,1573
10,0,59,2604,0.0,0.0,1583
11,0,59,2607,0.0,0.0,1586
12,0,59,2609,0.0,0.0,1588
13,0,59,2548,0.0,0.0,1544
14,0,59,2611,0.0,0.0,1588
15,0,59,2546,0.0,0.0,1542
16,0,59,2515,0.0,0.0,1522
17,0,59,2705,1.0,1799.0,1651
18,0,59,2715,0.0,0.0,1656
19,0,59,2716,0.0,0.0,1656

In [43]:
def add_first_word_features(matrix, items=items, feature_name="artist_name_or_first_word"):
    # This extracts artist names for music categories and adds them as a feature.
    def extract_artist(st):
        st = st.strip()
        if st.startswith("V/A"):
            artist = "V/A"
        elif st.startswith("СБ"):
            artist = "СБ"
        else:
            # Retrieves artist names using the double space or all uppercase pattern
            mus_artist_dubspace = re.compile(r".{2,}?(?=\s{2,})")
            match_dubspace = mus_artist_dubspace.match(st)
            mus_artist_capsonly = re.compile(r"^([^a-zа-я]+\s)+")
            match_capsonly = mus_artist_capsonly.match(st)
            candidates = [match_dubspace, match_capsonly]
            candidates = [m[0] for m in candidates if m is not None]
            # Sometimes one of the patterns catches some extra words so choose the shortest one
            if len(candidates):
                artist = min(candidates, key=len)
            else:
                # If neither of the previous patterns found something, use the dot-space pattern
                mus_artist_dotspace = re.compile(r".{2,}?(?=\.\s)")
                match = mus_artist_dotspace.match(st)
                if match:
                    artist = match[0]
                else:
                    artist = ""
        artist = artist.upper()
        artist = re.sub(r"[^A-ZА-Я ]||\bTHE\b", "", artist)
        artist = re.sub(r"\s{2,}", " ", artist)
        artist = artist.strip()
        return artist

    items = items.copy()
    all_stopwords = stopwords.words("russian")
    all_stopwords = all_stopwords + stopwords.words("english")

    def first_word(string):
        # This cleans the string of special characters, excess spaces and stopwords then extracts the first word
        string = re.sub(r"[^\w\s]", "", string)
        string = re.sub(r"\s{2,}", " ", string)
        tokens = string.lower().split()
        tokens = [t for t in tokens if t not in all_stopwords]
        token = tokens[0] if len(tokens) > 0 else ""
        return token

    music_categories = [55, 56, 57, 58, 59, 60]
    items.loc[items.item_category_id.isin(music_categories), feature_name] = items.loc[
        items.item_category_id.isin(music_categories), "item_name"
    ].apply(extract_artist)
    items.loc[items[feature_name] == "", feature_name] = "other music"
    items.loc[~items.item_category_id.isin(music_categories), feature_name] = items.loc[
        ~items.item_category_id.isin(music_categories), "item_name"
    ].apply(first_word)
    items.loc[items[feature_name] == "", feature_name] = "other non-music"
    items[feature_name] = items[feature_name].factorize()[0]
    matrix = matrix.merge(items[["item_id", feature_name]], on="item_id", how="left",)
    return matrix


matrix = add_first_word_features(
    matrix, items=items, feature_name="artist_name_or_first_word"
)