# This Notebook tries to Predict number of Stickers Sold.

### Loading Dataset.

Let's start by loading the data for exploration.

In [3]:
# Necessary libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
path = "../../../Data/playground-series-s5e1/"
train = pd.read_csv(path+"train.csv")
test = pd.read_csv(path+"test.csv")

A quick peek at the data.

In [9]:
train.head()

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0

In [11]:
test.head()

       id        date country              store             product
0  230130  2017-01-01  Canada  Discount Stickers   Holographic Goose
1  230131  2017-01-01  Canada  Discount Stickers              Kaggle
2  230132  2017-01-01  Canada  Discount Stickers        Kaggle Tiers
3  230133  2017-01-01  Canada  Discount Stickers            Kerneler
4  230134  2017-01-01  Canada  Discount Stickers  Kerneler Dark Mode

In [15]:
# Let's make the id column the index of the dataframes. 
train = train.set_index("id")
test = test.set_index("id")

### Exploratory Data Analysis.

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 230130 entries, 0 to 230129
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      230130 non-null  object
 1   country   230130 non-null  object
 2   store     230130 non-null  object
 3   product   230130 non-null  object
 4   num_sold  221259 non-null  float64
dtypes: float64(1), object(4)
memory usage: 10.5+ MB